.container {
  //width: 100%;
  //margin: 15%;
  z-index: 2;
  margin: auto;
  width: 450px;
  height: 450px;
  position: absolute;
  top: -100px;
  bottom: 0;
  right: 0;
  left: 0;
  display: block;
}

.color_bar {
  padding: 10%;
  top: 50px;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.color_selector_container {
  width: 100%;
  &.base {
    position: relative;
  }
  box-sizing: border-box;
  * {
    display: block;
  }
}

.arrow {
  width: 40%;
  position: absolute;
  padding: 20%;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(20%);
  cursor: pointer;
}

.selector_stack {
  position: relative;
}

.color_renderer {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 50%;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.color {
  width: 85%;
  height: 85%;
  position: absolute;
  border-radius: 50%;
}

.float {
  position: absolute;
  top: 0;
}
